.my_Skill_Section {
  width: Fixed (869px) px;
  height: Hug (556px) px;
  top: 1403px;
  left: 286px;
  gap: 80px;
  opacity: 0px;
  > .my_Skills_Headline {
    width: 869px;
    height: 72px;
    gap: 0px;
    opacity: 0px;

    //styleName: Version 5 Web/H2 Section name Web;
    font-family: Anta;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background: #89bcd9;
  }

  .my_Skills_Inhalt {
    width: Fill (869px) px;
    height: Hug (404px) px;
    gap: 79px;
    opacity: 0px;
    > .skill_set {
      width: Fixed (409px) px;
      height: Hug (404px) px;
      gap: 40px;
      opacity: 0px;
      > .skill_Icon_Angular {
        width: Hug (66px) px;
        height: Fixed (100px) px;
        gap: 10px;
        opacity: 0px;
        > .icons {
          width: Hug (55.8px) px;
          height: Fixed (60px) px;
          gap: 10px;
          opacity: 0px;
          > .icons_Angular {
            width: 55.8px;
            height: 60px;
            gap: 0px;
            opacity: 0px;
            background: #89bcd9;
          }
        }
        .angular_Name {
          width: 66px;
          height: 22px;
          gap: 0px;
          opacity: 0px;

          //styleName: Version 5 Web/P;
          font-family: Josefin Sans;
          font-size: 18px;
          font-weight: 400;
          line-height: 21.6px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          background: #89bcd9;
        }

        .skill_Icon_TypeScript {
          width: Hug (85px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (59.95px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_TypeScript_Vector {
              width: 59.95px;
              height: 60px;
              gap: 0px;
              opacity: 0px;
              background: #89bcd9;
            }
          }

          .typeScript_Name {
            width: 85px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_JavaScript {
          width: Hug (84px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (60px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_JavaScript {
              width: 59.95px;
              height: 60px;
              gap: 0px;
              opacity: 0px;
              background: #89bcd9;
            }
          }

          .javaScript_Name {
            width: 84px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_HTML {
          width: Hug (54px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (54px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_HTML {
              width: 54px;
              height: 60px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }
          }

          .html_Name {
            width: 53px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_CSS {
          width: Fixed (70px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            //hier .icons nicht im design ???
            width: Hug (54px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_CSS_Vector {
              width: 54px;
              height: 60px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }
          }
          .css_Name {
            width: 34px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_Restapi {
          width: Fixed (80px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons_Api {
            width: 56px;
            height: 60px;
            gap: 0px;
            opacity: 0px;
            background: #89bcd9;

            > .icons_Api_Vektor1 {
              width: 5.14px;
              height: 6.51px;
              top: 31.46px;
              left: 40.04px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }

            .icons_Api_Vektor2 {
              width: 3.46px;
              height: 6.03px;
              top: 34.68px;
              left: 27.36px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }

            .icons_Api_Vektor3 {
              width: 56px;
              height: 60px;
              top: 8px;
              left: 12px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }
          }

          .restapi_Name {
            width: 69px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_Firebase {
          width: Fixed (76px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (43.63px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_Firebase {
              width: 43.63px;
              height: 60px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }
          }

          .firebase_Name {
            width: 69px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_GIT {
          width: Fixed (76px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (59.99px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_GIT {
              width: 59.99px;
              height: 60px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;
            }
          }

          .git_Name {
            width: 30px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Material_Design {
          width: Hug (76px) px;
          height: Fixed (124px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (60px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_Material_Design_Frame {
              width: 60px;
              height: 60px;
              gap: 0px;
              opacity: 0px;
              > .icons_Material_Design_Group {
                width: 60px;
                height: 60px;
                gap: 0px;
                opacity: 0px;

                background: #89bcd9;

                > .icons_Material_Design_Group1 {
                  width: 34px;
                  height: 33.9px;
                  top: 11.1px;
                  left: 13px;
                  gap: 0px;
                  opacity: 0px;

                  background: #89bcd9;

                  > .icons_Material_Design_Group1_Vektor1 {
                    width: 34px;
                    height: 33.9px;
                    top: 11.1px;
                    left: 13px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }
                }

                .icons_Material_Design_Group2 {
                  width: 37.8px;
                  height: 37.8px;
                  top: 11.1px;
                  left: 11.1px;
                  gap: 0px;
                  opacity: 0px;

                  background: #89bcd9;

                  > .icons_Material_Design_Group2_Vektor1 {
                    width: 17.3px;
                    height: 34.7px;
                    top: 14.2px;
                    left: 31.6px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group2_Vektor2 {
                    width: 34px;
                    height: 33.9px;
                    top: 11.1px;
                    left: 13px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group2_Vektor3 {
                    width: 17.3px;
                    height: 34.7px;
                    top: 14.2px;
                    left: 11.1px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }
                }

                .icons_Material_Design_Group3 {
                  width: 60px;
                  height: 60px;
                  gap: 0px;
                  opacity: 0px;

                  background: #89bcd9;

                  > .icons_Material_Design_Group3_Vektor1 {
                    width: 7.9px;
                    height: 40.4px;
                    top: 9.8px;
                    left: 52.1px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group3_Vektor2 {
                    width: 40.4px;
                    height: 7.9px;
                    top: 52.1px;
                    left: 9.8px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group3_Vektor3 {
                    width: 17.3px;
                    height: 34.7px;
                    top: 14.2px;
                    left: 31.6px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group3_Vektor4 {
                    width: 40.4px;
                    height: 7.9px;
                    left: 9.8px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group3_Vektor5 {
                    width: 34px;
                    height: 33.9px;
                    top: 11.1px;
                    left: 13px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group3_Vektor6 {
                    width: 17.3px;
                    height: 34.7px;
                    top: 14.2px;
                    left: 11.1px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }

                  .icons_Material_Design_Group3_Vektor7 {
                    width: 7.9px;
                    height: 40.5px;
                    top: 9.8px;
                    gap: 0px;
                    opacity: 0px;

                    background: #89bcd9;
                  }
                }
              }
            }
          }

          .material_Design_Name {
            width: 76px;
            height: 44px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }

        .skill_Icon_Scrum {
          width: Hug (64.11px) px;
          height: Fixed (100px) px;
          gap: 10px;
          opacity: 0px;

          > .icons {
            width: Hug (64.11px) px;
            height: Fixed (60px) px;
            gap: 10px;
            opacity: 0px;

            > .icons_Scrum {
              width: 64.11px;
              height: 60px;
              gap: 0px;
              opacity: 0px;

              background: #89bcd9;

              > .icons_Scrum_Group1 {
                width: 47.58px;
                height: 43.22px;
                top: 13.39px;
                gap: 0px;
                opacity: 0px;

                background: #89bcd9;

                > .icons_Scrum_Group1_Vektor1 {
                  width: 47.58px;
                  height: 43.22px;
                  top: 13.39px;
                  gap: 0px;
                  opacity: 0px;

                  background: #89bcd9;
                }
              }

              .icons_Scrum_Group2 {
                width: 28.9px;
                height: 13.31px;
                top: 46.7px;
                left: 35.22px;
                gap: 0px;
                opacity: 0px;

                background: #89bcd9;

                > .icons_Scrum_Group2_Vektor1 {
                  width: 28.9px;
                  height: 13.31px;
                  top: 46.7px;
                  left: 35.22px;
                  gap: 0px;
                  opacity: 0px;

                  background: #89bcd9;
                }
              }

              .icons_Scrum_Group3 {
                width: 35.04px;
                height: 23.71px;
                left: 27.72px;
                gap: 0px;
                opacity: 0px;

                background: #89bcd9;

                > .icons_Scrum_Group3_Vektor1 {
                  width: 35.04px;
                  height: 23.71px;
                  left: 27.72px;
                  gap: 0px;
                  opacity: 0px;

                  background: #89bcd9;
                }
              }
            }
          }

          .scrum_Name {
            width: 51px;
            height: 22px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/P;
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #89bcd9;
          }
        }
      }
    }

    .currently_Learning {
      width: 375px;
      height: 391px;
      gap: 28px;
      opacity: 0px;

      > .currently_Learning_Text {
        width: 194px;
        height: 23px;
        top: 81px;
        left: 91px;
        gap: 0px;
        opacity: 0px;

        //styleName: Version 5 Web/P;
        font-family: Josefin Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        background: #f8f5ec;
      }

      .currently_Learning_Text_About_Me {
        width: 307px;
        height: 105px;
        top: 196px;
        left: 34px;
        gap: 0px;
        opacity: 0px;

        //styleName: Version 5 Web/P;
        font-family: Josefin Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        background: #f8f5ec;
      }

      .icons_React_And_Vue_Js {
        width: Hug (100px) px;
        height: Hug (54px) px;
        top: 123px;
        left: 135px;
        gap: 24px;
        opacity: 0px;

        > .frame_301 {
          width: Hug (36px) px;
          height: Hug (54px) px;
          gap: 5px;
          opacity: 0px;

          > .frame_301_React_Icon {
            width: 32px;
            height: 32px;
            gap: 0px;
            opacity: 0px;

            > .frame_301_React_Icon_Group16 {
              width: 32px;
              height: 28.56px;
              top: 1.33px;
              gap: 0px;
              opacity: 0px;

              background: #f8f5ec;

              > .frame_301_React_Icon_Group16_Vektor1 {
                width: 32px;
                height: 28.56px;
                top: 1.33px;
                gap: 0px;
                opacity: 0px;

                background: #89bcd9;
              }

              .frame_301_React_Icon_Group16_Vektor2 {
                width: 5.7px;
                height: 5.7px;
                top: 12.74px;
                left: 13.14px;
                gap: 0px;
                opacity: 0px;

                background: #f8f5ec;
              }
            }
          }

          .frame_301_React_Icon_Text {
            width: 36px;
            height: 17px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/Small text;
            font-family: Josefin Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #f8f5ec;
          }
        }

        .frame_302 {
          width: Hug (40px) px;
          height: Hug (54px) px;
          gap: 5px;
          opacity: 0px;

          > .frame_302_VueJs_Icon {
            width: 32px;
            height: 32px;
            gap: 0px;
            opacity: 0px;

            > .frame_302_VueJs_Icon_Group17 {
              width: 32px;
              height: 27.71px;
              top: 2.67px;
              gap: 0px;
              opacity: 0px;

              > .frame_302_VueJs_Icon_Group17_Vektor1 {
                width: 19.2px;
                height: 16.63px;
                top: 2.67px;
                left: 6.4px;
                gap: 0px;
                opacity: 0px;

                background: #f8f5ec;
              }

              .frame_302_VueJs_Icon_Group17_Vektor2 {
                width: 32px;
                height: 27.71px;
                top: 2.67px;
                gap: 0px;
                opacity: 0px;

                background: #89bcd9;
              }
            }
          }

          .frame_302_VueJs_Icon_Text {
            width: 40px;
            height: 17px;
            gap: 0px;
            opacity: 0px;

            //styleName: Version 5 Web/Small text;
            font-family: Josefin Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            background: #f8f5ec;
          }
        }
      }

      .references_Shape {
        width: 375px;
        height: 391px;
        gap: 0px;
        opacity: 0px;

        > .references_Shape_Shape {
          width: 368.59px;
          height: 380px;
          top: 2.68px;
          left: 1.15px;
          gap: 0px;
          opacity: 0px;
          // angle: -0 deg;   to work on

          background: #89bcd912;
        }
      }
    }
  }
}
