<p>sections works!</p>
<!-- src/app/sections/sections.component.html -->

<!-- Deine Navbar / Menü -->
<app-menubar></app-menubar>

<!-- Hero-Section -->
<app-hero></app-hero>

<!-- Background-Section -->
<app-background></app-background>

<!-- Skills -->
<app-myskills></app-myskills>

<!-- Projects -->
<app-myprojects></app-myprojects>

<!-- Why Me -->
<app-whyme></app-whyme>

<!-- References -->
<app-references></app-references>

<!-- Kontakt -->
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>
